apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: streaming-runtime-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: streaming-runtime-cluster-role
subjects:
  - kind: ServiceAccount
    name: streaming-runtime
    namespace: streaming-runtime
#    namespace: default
