{% extends "overrides/main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<!-- 1st Section -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image" style="margin-top: -150px">
                <img src="assets/images/topk-deployed.svg" alt="" width="600" draggable="false" >
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1  id="leverage-architecture">Streaming Runtime</h1>
                <p>
                    Kubernetes' execution environment, designed to simplify the development and the operation of streaming data processing applications.
                    It enables complex data processing scenarios including Time Windowing Aggregation, streaming joins as well as user-defined functions to process the streamed data.
                    <br>
                </p><br>

                <p>

                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary" >
                    Get started
                </a><br>

                <a
                    href="https://github.com/vmware-tanzu/streaming-runtimes"
                    title="{{ lang.t('source.link.title') }}"
                    class="md-button">
                    Contribute on GitHub
                    <img class = icon src="assets/images/github.svg" alt="" width="24" draggable="false" >
                </a><br>

                <a href="https://kubernetes.slack.com/archives/C03GFRBHM43" title="{{ page.next_page.title | e }}"
                 class="md-button md-button--primary" target="_blank">
                    Join us on Streaming Runtime Slack
                    <img class = icon src="assets/images/slack-icon.png" alt="" width="22" draggable="false" >
                </a>

            </div>
        </div>
    </div>
</section>

<!-- 2nd Section -->
<!-- WHAT IS SR? -->
<section class="tx-container-2">
    <div class="md-grid md-typeset">
        
        <div class="tx-hero__image-2" style="margin-top: 50px">
            <img src="assets/images/sr-deployment-pipeline.svg" alt="" width="800" draggable="false" align="left" />
        </div>

        <div class="tx-hero">
            <!-- Hero content -->
            <div class="tx-hero__content-2">
                
                <h1 id="what-is-sr">What is a Streaming Runtime?</h1><br>

                <p>
                    The <strong>Streaming Runtime</strong> standardizes and streamlines the development and management of polyglot
                    streaming applications by leveraging Kubernetes custom resource definitions to define the application architecture.            
                    <br>
                    The Streaming Runtime offers:
                    <br>      
                        - A standardized container runtime contract which moves much of the stream management to runtime managed components.
                    <br>                    
                        - Resource autoscaling.
                    <br>                    
                        - Declarative Ops management tooling for application management, including rollout and multi-cluster deployment.
                    <br>            
                        - Use of OCI images enables integration with existing supply-chain tooling. 
                    <br>
                </p>
                <br>
                <a href="https://vmware-tanzu.github.io/streaming-runtimes/streaming-runtime-overview" title="{{ page.next_page.title | e }}" class="md-button md-button" > Product Features </a>
            </div>
        </div>
    </div>
</section>

<!-- 3rd Section -->
<!-- WHY SR? -->
<section class="tx-container-3">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image-3">
                <!-- <img src="assets/images/udf-types3.svg" alt="" width="3000" draggable="false" /> -->
                <img src="assets/images/partitioned-time-window-aggregation.svg" alt="" width="2500" draggable="false" />
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content_small">
                <br>
                <h1 id="why-sr">Why Streaming Runtime?</h1><br>

                <p>
                    Microservices, containers, and Kubernetes help to free apps from infrastructure, enabling them to work independently and run anywhere. 
                    With Streaming Runtime, you can make the most of these cloud native patterns, automate the security and delivery of containerized streaming 
                    workloads, and proactively manage apps in production. 
                    It’s all about freeing developers to do their thing: build great apps.
                </p><br>
                <a href="https://vmware-tanzu.github.io/why/why-streaming-runtime/" title="{{ page.next_page.title | e }}" class="md-button"> Find out more 'Whys' </a>
            </div>
        </div>
    </div>
</section>

<!-- 4th Section -->
<!-- TECH STACK  -->
<section class="tx-container-2">
    <div class="md-grid md-typeset">
        <div class="tx-hero__image-2" style="margin-top: 10px"> 
            <img src="assets/images/sr-tech-stack6.svg" alt="" width="800" draggable="false" align="left" />
        </div>
        <div class="tx-hero">
            <!-- Hero content -->
            <div class="tx-hero__content-2">
                <h1 id="tech-stack">Tech stack</h1>

                <p>
                <strong>Streaming-Lite </strong> 
                For applications which rely on time-ordered delivery of events for a single key, 
                but which do not perform any cross-key operations like joins or repartitioning. 
                These applications include windowing in some cases but not others. 
                Typically, streaming-lite applications run as pipelined workloads in an existing scheduler framework such as TAS or Kubernetes. 
                Examples include ETL applications and time-series analysis.
                <br>
                <strong>Streaming-Expert </strong> 
                For applications which perform cross-stream analysis using joins and/or repartitioning, 
                or applications which may perform dynamic stream operations (for example, windowing based on data conditions rather than time or rows). 
                These applications typically using a pool of <strong>worker nodes</strong>, where the code and data is distributed to nodes using a 
                framework-specific technique. Examples include Apache Spark, Apache Beam, and Apache Flink.
                <br>
                </p>

            </div>
        </div>
    </div>
</section>

{% endblock %}
